.mainframe {
    position: relative;
    margin: 0 auto;
    width: 80%;
    max-width: 1290px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    justify-content: flex-start;
    gap: 25px;
}

.introtext {
    width: 100%;
    max-width: 1140px;
    position: relative;
    display: inline-block;
}

.week {
    text-decoration: none;
    color: inherit;
    align-self: stretch;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3) inset, 0px 4px 4px rgba(255, 255, 255, 0.25) inset, 0px 0px 2px rgba(255, 255, 255, 0.1) inset;
    backdrop-filter: blur(4px);
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.01);
    height: 250px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    box-sizing: border-box;
    gap: 9px;
    text-align: left;
    justify-content: space-between;
}

.card {
    display: flex;
    flex-direction: column;
}

.week-1 {
    width: auto;
    flex: 1 1 auto;
    margin-right: 16px;
    position: relative;
    display: inline-block;
    height: 48px;
    flex-shrink: 0;
}

.duck-icon {
    width: 220px;
    height: 100%;
    border-radius: 16px;
    object-fit: cover;
    flex-shrink: 0;
}

.i-made-a {
    width: 360px;
    position: relative;
    font-size: 24px;
    display: inline-block;
    height: 35px;
    flex-shrink: 0;
}

.searchframe {
    position: absolute;
    top: 15px;
    right: 25px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3) inset, 0px 4px 4px rgba(255, 255, 255, 0.25) inset, 0px 0px 2px rgba(255, 255, 255, 0.1) inset;
    backdrop-filter: blur(4px);
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.01);
    width: 341px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px 0px;
    box-sizing: border-box;
    text-align: left;
    color: rgba(255, 255, 255, 0.35);
}

.search {
    width: 260px;
    position: relative;
    display: inline-block;
    height: 50px;
    flex-shrink: 0;
}

.searchimg-icon {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    object-fit: contain;
}
