a,
a.visited {
  color: inherit;
  text-decoration: none;
}

h1,h2,h3 {
  letter-spacing: -0.01em;
  line-height: 1.2;
  font-weight: 600;
  margin-bottom: 0;
}

h1 {
  font-size: 1.875rem;
  margin-top: 1.875rem;
}

h2 {
  font-size: 1.5rem;
  margin-top: 2.5rem;
  color: #fff;
}

h3 {
  font-size: 1.25rem;
  margin-top: 1.25rem;
}

.page-description {
  margin-bottom: 2em;
  color: rgba(255, 255, 255, 0.75);
}

.page-cover-image {
  display: block;
  object-fit: cover;
  width: 100%;
  max-height: 30vh;
  border-radius: 10px;
}

/* === UNIT DIVIDERS === */
.unit-divider {
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin: 0.5em 0 1.5em 0;
}

/* === UNIT LINK GRID === */
.unit-links {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: space-between;
  margin-bottom: 2em;
}

.column {
  flex: 1 1 calc(25% - 1em);
  display: flex;
  justify-content: center;
}

/* === ICONS === */
.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 1.2em;
  height: 1.2em;
  margin-right: 0.5em;
}

/* === CARD COLORS === */
.link-card {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3) inset, 0px 4px 4px rgba(255, 255, 255, 0.25) inset, 0px 0px 2px rgba(255, 255, 255, 0.1) inset;
  backdrop-filter: blur(4px);
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.01);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3px 0px;
  width: 100%;
  box-sizing: border-box;
  text-decoration: none;
  color: white;
  justify-content: center;
  text-align: center;
  margin: auto;
  padding-left: 20px;
  height: 50px;
}

.link-card:hover {
  backdrop-filter: blur(6px);
	background-color: rgba(255, 255, 255, 0.05);
	transform: scale(1.1);
	transition: all 0.3s ease;
}

/* === RESPONSIVE LAYOUT === */
@media (max-width: 700px) {
  .unit-links {
    flex-direction: column;
  }
  .column {
    flex: 1 1 100%;
  }
  .link-card {
    width: 100%;
  }
}
