html,body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(180deg, #000, #1d2838);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: #fff;
}

.navbar {
  background-color: rgba(255, 255, 255, 0.015);
  box-shadow: 0px 0px 10px rgba(15, 88, 171, 0.3) inset, 0px 4px 4px rgba(15, 88, 171, 0.25) inset, 0px 0px 2px rgba(15, 88, 171, 0.1) inset;
  backdrop-filter: blur(4px);
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  padding: 0 1rem;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.navbar a {
  color: inherit;
  text-decoration: none;
  padding: 15px;
  font-size: 24px;
  font-weight: bold;
  display: block;
}

.navbar a:hover {
  background-color: rgba(255, 255, 255, 0.075);
  border-radius: 25px;
  transform: scale(1.1);
  transition: all 0.3s ease;
}

.settingsIcon {
  display: flex;
  align-items: center;
}

.settings {
  max-width: 35px;
  height: auto;
  display: block;
  cursor: pointer;
}

.mainframe {
  position: relative;
  margin: 0 auto;
  width: 80%;
  max-width: 1290px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 40px 10px 10px 10px;
  box-sizing: border-box;
  gap: 25px;
  z-index: 1;
  top: 25px;
}
