.mainframe {
	position: absolute;
	top: 55%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 80%;
	max-width: 1290px;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 10px;
	box-sizing: border-box;
	gap: 25px;
}

.introtext {
	width: 1140px;
	position: relative;
	display: inline-block;
}

.liquid-glass-effect {
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3) inset, 0px 4px 4px rgba(255, 255, 255, 0.25) inset, 0px 0px 2px rgba(255, 255, 255, 0.1) inset;
	backdrop-filter: blur(4px);
	border-radius: 25px;
	background-color: rgba(255, 255, 255, 0.01);
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 3px 0px;
}

.liquid-glass-effect:hover {
	backdrop-filter: blur(6px);
	background-color: rgba(255, 255, 255, 0.05);
	transition: all 0.3s ease;
}

.subtext {
	width: 1140px;
	position: relative;
	font-size: 24px;
	display: inline-block;
}

.logo-icon {
	position: absolute;
	top: 5%;
	left: 50%;
	transform: translateX(-50%);
	width: 20vw;
	max-width: 250px;
	height: auto;
}