.body {
	background-image: url(Icons/NoiseFrame (1).png);
}

.mainframe {
	position: relative;
	margin: 0 auto;
	width: 80%;
	max-width: 1290px;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	padding: 40px 10px 10px 10px;
	box-sizing: border-box;
	gap: 25px;
	z-index: 1;
}

.introtext {
	width: 100%;
	position: relative;
	display: inline-block;
}

.liquid-glass-effect {
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3) inset, 0px 4px 4px rgba(255, 255, 255, 0.25) inset, 0px 0px 2px rgba(255, 255, 255, 0.1) inset;
	backdrop-filter: blur(4px);
	border-radius: 25px;
	background-color: rgba(255, 255, 255, 0.01);
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 3px 0px;
	width: 100%;
	box-sizing: border-box;
}

.liquid-glass-effect:hover {
	backdrop-filter: blur(6px);
	background-color: rgba(255, 255, 255, 0.05);
	transform: scale(1.1);
	transition: all 0.3s ease;
}

.subtext {
	width: 100%;
	position: relative;
	font-size: 24px;
	display: inline-block;
}

.logo-icon {
	position: static;
	width: 14vw;
	max-width: 180px;
	height: auto;
	z-index: 1;
}

