/* html, body {
  height: 100%;
  margin: 0;
  padding: 0;
} */

html {
	height: 100%;
}

body {
  background: linear-gradient(180deg, #000, #1D2838);
  background-repeat:no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: #fff;

    min-height: 100vh;
    margin: 0;
    padding: 0
}

.navbar {
    background-color: rgba(255, 255, 255, 0.015);
    box-shadow: 0px 0px 10px rgba(15, 88, 171, 0.3) inset, 0px 4px 4px rgba(15, 88, 171, 0.25) inset, 0px 0px 2px rgba(15, 88, 171, 0.1) inset;
	backdrop-filter: blur(4px);
	background-color: rgba(255, 255, 255, 0.01);
    overflow: hidden;
	display: flex;
	flex-direction: row;
	width: 100%;
	box-sizing: border-box;
}

.navbar ul {
    list-style-type: none;
    overflow: hidden;
    text-align: center;
    display: flex;
}

.navbar a {
    color: inherit;
    text-decoration: none;
    padding: 15px;
    font-size: 24px;
    font-weight: bold;
    display: block;
    text-align: center;
}

.mainframe {
	position: relative;
	margin: 0 auto;
	width: 80%;
	max-width: 1290px;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	padding: 40px 10px 10px 10px;
	box-sizing: border-box;
	gap: 25px;
	z-index: 1;
}

.logo-icon {
	position: static;
	width: 14vw;
	max-width: 180px;
	height: auto;
	z-index: 1;
}


.liquid-glass-effect {
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3) inset, 0px 4px 4px rgba(255, 255, 255, 0.25) inset, 0px 0px 2px rgba(255, 255, 255, 0.1) inset;
	backdrop-filter: blur(4px);
	border-radius: 25px;
	background-color: rgba(255, 255, 255, 0.01);
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 3px 0px;
	width: 100%;
	box-sizing: border-box;
}

.heading {
    font-size: 40px;
    font-weight: bold;
    margin: 0;
    padding: 10px 20px;
}

.bigtext {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    padding: 10px 20px;
}

.smalltext {
    font-size: 24px;
    opacity: 35%;
    margin: 0;
    padding: 2.5px 20px;
    position: sticky;
    bottom: 15px;
}
