.week2 {
  	width: 100%;
  	position: relative;
  	background-color: #476f94;
  	height: 3168px;
  	overflow: hidden;
  	text-align: left;
  	font-size: 40px;
  	color: #fff;
  	font-family: 'Istok Web';
}
.noiseframe {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	background: linear-gradient(116.82deg, #4e7ba4, #23384c);
  	width: 1440px;
  	height: 3168px;
  	overflow: hidden;
}
.mainframe {
  	position: absolute;
  	top: 188px;
  	left: 100px;
  	width: 1315px;
  	height: 2980px;
  	overflow: hidden;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	padding: 10px;
  	box-sizing: border-box;
}
.week1 {
  	align-self: stretch;
  	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3) inset, 0px 4px 4px rgba(255, 255, 255, 0.25) inset, 0px 0px 2px rgba(255, 255, 255, 0.1) inset;
  	backdrop-filter: blur(4px);
  	border-radius: 25px;
  	background-color: rgba(255, 255, 255, 0.01);
  	height: 2911px;
  	overflow: hidden;
  	flex-shrink: 0;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 4px 25px;
  	box-sizing: border-box;
  	gap: 9px;
}
.preview {
  	align-self: stretch;
  	display: flex;
  	align-items: flex-start;
}
.week-2 {
  	width: 1052px;
  	position: relative;
  	display: inline-block;
  	height: 48px;
  	flex-shrink: 0;
}
.in-week-2-our-course-was-being-parent {
  	width: 1270px;
  	height: 2846px;
  	display: flex;
  	align-items: flex-start;
  	gap: 9px;
  	font-size: 24px;
}
.in-week-2-container {
  	width: 1029px;
  	position: relative;
  	display: inline-block;
  	height: 2846px;
  	flex-shrink: 0;
}
.blank-line {
  	margin: 0;
}
.made-a-lighting-room-lighting {
  	margin: 0;
  	font-family: inherit;
  	font-size: inherit;
  	padding-left: 32px;
}
.made-a-lighting {
  	margin-bottom: 0px;
}
.image-2-icon {
  	width: 203px;
  	position: relative;
  	border-radius: 35px;
  	max-height: 100%;
  	object-fit: cover;
}
