.noiseframe {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	background: linear-gradient(116.82deg, #4e7ba4, #23384c);
  	width: 1440px;
  	height: 1024px;
  	overflow: hidden;
}
.mainframe {
    position: absolute;
    left: 100px;
    top: 150px;
    right: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    justify-content: flex-start;
    gap: 25px;
}


.week1 {
  	align-self: stretch;
  	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3) inset, 0px 4px 4px rgba(255, 255, 255, 0.25) inset, 0px 0px 2px rgba(255, 255, 255, 0.1) inset;
  	backdrop-filter: blur(4px);
  	border-radius: 25px;
  	background-color: rgba(255, 255, 255, 0.01);
  	height: 807px;
  	overflow: hidden;
  	flex-shrink: 0;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 4px 25px;
  	box-sizing: border-box;
  	gap: 9px;
}
.preview {
  	align-self: center;
  	display: flex;
  	align-items: flex-start;
}
.week-1 {
  	width: 1052px;
  	position: relative;
  	display: inline-block;
  	height: 48px;
  	flex-shrink: 0;
}
.in-my-first-week-of-college-i-parent {
  	align-self: stretch;
  	display: flex;
  	align-items: flex-start;
  	gap: 9px;
  	font-size: 24px;
  	text-align: left;
}
.in-my-first-container {
  	flex: 1;
  	position: relative;
  	display: inline-block;
  	height: 724px;
}
.in-my-first {
  	margin: 0;
}
.add-a-cube-add-a-sub-division {
  	margin: 0;
  	font-family: inherit;
  	font-size: inherit;
  	padding-left: 32px;
}
.add-a-cube {
  	margin-bottom: 0px;
}
.duck-icon {
  	width: 203px;
  	border-radius: 35px;
  	height: 183px;
  	object-fit: cover;
}

.searchframe {
    position: absolute;
    top: 15px;
    right: 25px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3) inset, 0px 4px 4px rgba(255, 255, 255, 0.25) inset, 0px 0px 2px rgba(255, 255, 255, 0.1) inset;
    backdrop-filter: blur(4px);
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.01);
    width: 341px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px 0px;
    box-sizing: border-box;
    text-align: left;
    color: rgba(255, 255, 255, 0.35);
}

.search {
    width: 260px;
    position: relative;
    display: inline-block;
    height: 50px;
    flex-shrink: 0;
}

.searchimg-icon {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    object-fit: contain;
}

.backframe {
    position: absolute;
    top: 15px;
    left: 25px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3) inset, 0px 4px 4px rgba(255, 255, 255, 0.25) inset, 0px 0px 2px rgba(255, 255, 255, 0.1) inset;
    backdrop-filter: blur(4px);
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.01);
    width: 175px;
    overflow: hidden;
    display: flex;
    justify-content: right;
    padding: 3px 0px;
    box-sizing: border-box;
    text-align: left;
    color: rgba(255, 255, 255, 0.35);
}

.back {
    position: relative;
    display: inline-block;
    height: 50px;
    flex-shrink: 0;
    right: 25px;
    font-weight: bold;
    text-decoration: none;
}
